@{
    ViewData["Title"] = "Chance Quest";
}

<h2>Welcome to Chance Quest</h2>

<form>
    <textbox class="form-control"><div class="text-center">
        This is a test of the textbox element
    </div></textbox>
    <button class="btn-primary" asp-controller="Game" asp-action="Index">Start Game</button>
</form>