@model ChanceQuest.Entities.Player

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Player</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="CharacterName" class="control-label"></label>
                <input asp-for="CharacterName" class="form-control" />
                <span asp-validation-for="CharacterName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PeasantHappiness" class="control-label"></label>
                <input asp-for="PeasantHappiness" class="form-control" />
                <span asp-validation-for="PeasantHappiness" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NobleHappiness" class="control-label"></label>
                <input asp-for="NobleHappiness" class="form-control" />
                <span asp-validation-for="NobleHappiness" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RoyalHappiness" class="control-label"></label>
                <input asp-for="RoyalHappiness" class="form-control" />
                <span asp-validation-for="RoyalHappiness" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FavorableStatId" class="control-label"></label>
                <input asp-for="FavorableStatId" class="form-control" />
                <span asp-validation-for="FavorableStatId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="IsDeleted" /> @Html.DisplayNameFor(model => model.IsDeleted)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
